#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;

  max-width: 100% !important;
}

.report-style-class {
  height: 100vh;
}

@font-face {
  font-family: 'Gotham-bold';
  src: url('../../../ExternalRef/Fonts/GothamBold.ttf'); /* Specify the correct path and format for your font file */
  font-weight: bold;
  font-style: normal;
}

