.Overall {
  background-color: #fff8f8;
  padding: 10px;

  .Container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .Box {
      width: 24%;
      margin: 0px 10px 10px 0px;
      background-image: linear-gradient(to right, #d29602, #d2960280);
      height: 180px;
      border-radius: 5px;
    }
  }
}
